div{
	width:100px;
	height: 100px;
	background: grey;
	border:1px solid #000;
	margin:4px;
	display:inline-block;
}
.primero, .ultimo{
	display:block;
}
.contenedor{
	width:340px;
	height:110px;
	display:block;
	padding:3px;
}
